.masthead ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

.masthead li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.masthead li a:hover:not(.active) {
  background-color: #111;
}

.masthead li {
  display: inline-block;
}

.masthead {
  background-color: var(--color-primary-light);
}
