.card div {
  border: 5px solid var(--color-accent-dark);
}

.card:hover div {
  border: 5px solid var(--color-accent);
}

.card p {
  text-align: center;
  margin: 0;
}

.card:hover img {
  opacity: .5;
}
